@(user: Person, groupForm: Form[models.MyGroup])

@import helper._

@main(user) {
    @form(routes.Grouping.storeGroup()) {
        Create new group:
        @if(groupForm.hasGlobalErrors) {
            <p class="error">
                <span class="alert alert-danger">@groupForm.globalError.message</span>
            </p>
        }

        <fieldset>
            @inputText(
                groupForm("name"),
                '_label -> null,
                'placeholder -> "Group name",
                '_help -> "Group name",
                'class -> "form-control"
            )
            @inputText(
                groupForm("members"),
                '_label -> null,
                'placeholder -> "Members",
                '_help -> "Members",
                'class -> "form-control"
            )
        </fieldset>

        <div class="form-actions">
            <input type="submit" class="btn btn-primary" value="Create">
        </div>
    }
}