@(signupForm: Form[Application.Register])

@import helper._
    @implicitFieldConstructor = @{
        FieldConstructor(twitterBootstrapInput.render)
    }

<h3>@Messages("signup.new")</h3>

@form(controllers.account.routes.Signup.save()) {

    @if(signupForm.hasGlobalErrors) {
        <p class="error">
            <span class="alert alert-danger">@signupForm.globalError.message</span>
        </p>
    }

    <fieldset>
        @inputText(
            signupForm("email"),
            'placeholder -> Messages("email"),
            '_label -> null,
            'class -> "form-control"
        )
        @inputText(
            signupForm("fullname"),
            'placeholder -> Messages("fullname"),
            '_label -> null,
            'class -> "form-control"
        )
        @inputPassword(
            signupForm("inputPassword"),
            '_label -> null,
            'placeholder -> Messages("password"),
            'class -> "form-control"
        )
    </fieldset>


    <hr>
    <div class="form-actions">
        <input type="submit" class="btn btn-primary" value="@Messages("signup.signup")">
        <a href="@routes.Application.index" class="btn btn-default">@Messages("goback")</a>

    </div>

}

